body {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
}

ul {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

.nav {
	background-color: #000000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 88px;
}

.left-links {
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #ffffff;
	gap: 10px;
}

.home-link {
	display: inline-flex;
	gap: 8px;
	align-items: center;
}

.home-link:hover box-icon {
	background-color: #cccccc;
}
.home-link:hover {
	color: #cccccc;
}

.home-link box-icon {
	background-color: white;
	border-radius: 8px;
	padding: 4px;
	width: 32px;
	height: 32px;
	box-sizing: border-box;
}

.separator {
	width: 1.5px;
	background-color: #ffffff;
	height: 30px;
}

.help-link:hover {
	text-decoration: underline;
}

.button {
	font-size: 24px;
	border-radius: 8px;
	color: #ffffff;
	box-sizing: border-box;
	height: 50px;
}

.submit {
	padding: 8px 24px;
	margin-right: 12px;
	background-color: #191a1b;
	border-color: #ffffff;
	border-width: 1px;
}

.sign-in {
	padding: 8px 32px;
	border: none;
	background-color: #4c5fd5;
}

.sign-in:hover {
	background-color: #ffffff;
	color: #000000;
}

.search {
	box-sizing: border-box;
	height: 400px;
	width: 100vw;
	max-width: 100%;
	background-color: #dadbf1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.search h2 {
	margin: 0;
	font-size: 72px;
	font-weight: 400;
	margin-bottom: 32px;
}

.search-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
	box-sizing: border-box;
	width: 55vw;
	height: 64px;
	background-color: #ffffff;
	border-radius: 4px;
	border-width: 1px;
	border: solid #000000;
}

.search-box:hover,
.search-box:focus,
.search-box:focus-within {
	outline: none;
	border-color: #4c5fd5;
}

.search-box input {
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 20px;
	width: 100%;
}

.search-box input::placeholder {
	color: #ac9e99;
}

.search-box svg {
	height: 24px;
	width: 24px;
}

.search-box:hover svg {
	color: #4c5fd5;
}

.info {
  width: 100vw;
  max-width: 100%;
  margin-top: 80px;
  padding: 0 128px;
  box-sizing: border-box;
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.info-box {
  margin-top: 100px;
  display: flex;
  width: 50%;
}

.info-box img {
	max-height: 80px;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	border: 0;
	box-sizing: border-box;
}

.img-wrapper {
  margin-right: 30px;
} 


.info-text {
  font-size: 24px;
  max-width: 340px;
}

.info-text h4 {
  margin-top: 0;
}

.info-text a {
  color: #4c5fd5;
  font-size: 20px;
}

.info-text a:hover {
  text-decoration: underline;
}

.footer {
  box-sizing: border-box;
  width: 100vw;
  max-width: 100%;
  background-color: #000000;
  color: white;
  padding: 48px 88px;
  display: flex;
  justify-content: space-between;
  margin-top: 128px;
}

.footer-columns {
  display: flex;
}

.footer-column {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.footer-column h5 {
  width: 160px;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}

.footer-column h6 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  margin-top: 32px;
}

.footer-column a:hover {
  text-decoration: underline;
}

.copyright {
  line-height: 1.5;
  margin-top: 156px;
}

.copyright p {
  font-size: 20px;
  margin: 0;
}

.footer-icon {
  background-color: #cccccc;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 8px;
	padding: 4px;
  margin-bottom: 20px !important;
}
